doctype html
head
  link(rel="stylesheet" type="text/css" href="/style.css")
  script.
    window.categories = !{JSON.stringify(categories)};
    window.data = !{JSON.stringify(data)};
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" type="image/png" href="/dp-cool-128.png")
  title Self Tracker

body
  #balance
    h3.title Balance and spending
    hr
    .status
      if sbiDate.diff(moment(), 'd') < -1
        .sbi.error
          .date= sbiDate.fromNow()
          span SBI
      if stanCharDate.diff(moment(), 'd') < -1
        .stanchar.error
          .date= stanCharDate.fromNow()
          span Standard Charted
    h1.balance= data[data.length - 1][2].value
    h3.total= data[data.length - 1][7].value
    //- this month - spending & categorization ratio
    .calendar
      .header
        for x,i in Array(8).join('.').split('')
          .day-type(class=`day-type-${i}`)= moment().day(i + 1).format('ddd')
      -
        const HIGH_SPENDING = 7499
        const startDay = moment(data[0][0].value, 'M/D/YY')
        const startWeekday = startDay.isoWeekday()
        let newData = data
        if (startWeekday > 1)
          newData = Array(startWeekday - 1).join('.').split('.').concat(data)
      .days
        for row in newData
          - const date = row[0] && moment(row[0].value, 'M/D/YY')
          if row[11] && row[11].numericValue
            .day(class=`day-type-${date.day()} category-type-${(row[13].value || '').toLowerCase()}`)
              .date= date.format('D')
              .spending(class=row[11].numericValue > HIGH_SPENDING ? 'spending-high' : '' )
                | #{row[11].numericValue.toLocaleString()}
              select.category()
                each cat in categories
                  option(value=cat, selected=cat === row[13].value)= cat
              //- .comment= row[12].value
              //- .notes= row[14].value
          else if date
            .day.empty(class=`day-type-${date.day()}`)
              span.date= date.format('D')
          else
            .day.space

    .legend
      each cat in categories
        .category
          span.box(class=`category-type-${cat.toLowerCase()}`)
          span.label= cat

    //- button.save-expense-metadata Save

  script(src="/script.js")
