doctype html
head
  link(rel="stylesheet" type="text/css" href="/style.css")
  script.
    window.categories = !{JSON.stringify(categories)};
    window.rows = !{JSON.stringify(rows)};
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" type="image/png" href="/dp-cool-128.png")
  title Self Tracker

body
  #balance
    .nav-container
      .nav
        a(href="/")= isAndroid ? '🏃' : '🏋🏼'
        a.active(href="/balance") 💸
    h3.title Balance and spending
    hr
    .status
      if sbiDate.diff(moment(), 'd') < -1
        .sbi.error
          .date= sbiDate.fromNow()
          span SBI
      if stanCharDate.diff(moment(), 'd') < -1
        .stanchar.error
          .date= stanCharDate.fromNow()
          span Standard Charted
    h1.balance= rows[rows.length - 1][2].value
    h3.total= rows[rows.length - 1][7].value
    //- this month - spending & categorization ratio
    .calendar
      .header
        for x,i in Array(8).join('.').split('')
          .day-type(class=`day-type-${i}`)= moment().day(i + 1).format('ddd')
      -
        const HIGH_SPENDING = 7499
        const startDay = moment(rows[0][0].value, 'M/D/YY')
        const startWeekday = startDay.isoWeekday()
        let newData = rows
        if (startWeekday > 1)
          newData = Array(startWeekday - 1).join('.').split('.').concat(rows)
      .days
        for row,i in newData
          - const date = row[0] && moment(row[0].value, 'M/D/YY')
          if row[11] && row[11].numericValue
            .day(class=`day-type-${date.day()} category-type-${(row[13].value || '').toLowerCase()}`)
              .date= date.format('D')
              .comment= row[12].value
              //- 📓✎📝✏️📒
              if row[14].value
                .note(data-id=i) 📝
              else
                .edit(data-id=i) ✏️
              .spending(class=row[11].numericValue > HIGH_SPENDING ? 'spending-high' : '' )
                | #{row[11].numericValue.toLocaleString()}
              select.category(data-id=i)
                each cat in categories
                  option(value=cat, selected=cat === row[13].value)= cat
          else if date
            .day.empty(class=`day-type-${date.day()}`)
              .date= date.format('D')
          else
            .day.space

    .legend
      each cat in categories
        .category
          span.box(class=`category-type-${cat.toLowerCase()}`)
          span.label= cat

    .model-container
      .model
        h3.date
        h1.spending
        select.category
          each cat in categories
            option(value=cat)= cat
        br
        input.comment(type="text", placeholder="Chart label")
        br
        textarea.note(rows=3, placeholder="Comments / Notes")
        br
        input.row(type="hidden")
        button.save Save
        br
        button.close Close

  script(src="/script.js")
