doctype html
head
  link(rel="stylesheet" type="text/css" href="style.css")
  script var model = !{JSON.stringify(model)}
  script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
body
  -
    const renderInput = activity => {
      const cell = cells[activity.col] || {}
      switch(activity.type) {
        case 'bool':
          return `
            <div class="radios" data-col="${activity.col}" data-type="bool">
              <label>
                <input type="radio" value="1" name="bool-${activity.col}" ${cell.value === "1" ? 'checked' : ''} />
                <span>Yes</span>
              </label>
              <label>
                <input type="radio" value="0" name="bool-${activity.col}" ${cell.value === "0" ? 'checked' : ''} />
                <span>No</span>
              </label>
            </div>
          `
        case 'time':
          const hour = parseInt(cell.numericValue * 24)
          const minute = ((cell.numericValue * 24) % 1 * 60)
          const apZr = val => (val < 10 ? '0' : '') + val
          return `<input type="time" value="${apZr(hour)}:${apZr(minute)}"" data-col="${activity.col}" />`

        default:
          return '---'
      }
    }

  #main(data-row=cells.row)
    each activity in (model.values || [])
      .activity
        span.name= activity.name
        if activity.children
          each child in activity.children
            .child
              span.name= child.name
              !=renderInput(child)
        else
          != renderInput(activity)
    button.save Save

  script(src="script.js")
